<h1>Witaj! Potwierdź proszę swój Email!</h1>

<p>
	Potwierdź swój adres email klikając w link poniżej:
	<br><br>
	<a href="{{ signedUrl|raw }}">Potwierdź Email</a>.
		    Ten link wygaśnie za  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
	Pozdrowionka Blog5
</p>
