{% extends 'base.html.twig' %}

{% block title %}Resetowanie hasła
{% endblock %}

{% block body %}
	<p>Wiadomość z linkiem do resetowania hasła została wysłana, dzięki któremu możesz przejść proces resetowania hasła.
	</p>
	<p>Jeśli nie otrzymałeś wiadomości sprawdź spam lub
		<a href="{{ path('app_forgot_password_request') }}">spróbuj ponownie</a>.</p>
{% endblock %}
