{% extends 'base.html.twig' %}

{% block title %}Resetowanie hasła
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	<h1>Resetowanie hasła</h1>

	{% form_theme requestForm 'bootstrap_4_layout.html.twig' %}
	{{ form_start(requestForm) }}
	{{ form_row(requestForm.Email) }}
	<div>
		<small>
			Wprowadź swój adres Email przypisany do konta aby otrzymać mail z linkiem do resetowania hasła
		</small>
	</div>

	<button class="btn btn-primary">Wyślij maila z linkiem</button>
	{{ form_end(requestForm) }}
{% endblock %}
