{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	Panel Użytkownika
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-md-10 mx-auto">
				{% for message in app.flashes('success')%}
					<div class='alert alert-success'>
						{{ message }}
					</div>
				{% endfor %}

				{% for message in app.flashes('error')%}
					<div class='alert alert-danger'>
						{{ message }}
					</div>
				{% endfor %}

				{% if app.user.isVerified == false %}
					<div class='alert alert-danger'>Uwaga ! Twoje konto nie zostało zweryfikowane, nie będziesz miał dostępu do funkcjonalności serwisu.</div>
				{% endif %}
				<h1>Panel Użytkownika
				</h1>
				<a class="btn btn-lg btn-primary" href="{{ relative_path('/reset-password')}}">Zmiana hasła</a>
			</div>
		</div>
	</div>
{% endblock %}
