{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	Panel Użytkownika
{% endblock %}

{% block body %}
	{% if app.user.isVerified == false %}
		<div class='alert alert-danger'>Uwaga ! Twoje konto nie zostało zweryfikowane, nie będziesz miał dostępu do funkcjonalności serwisu.</div>
	{% endif %}
	<h1>Panel Użytkownika
	</h1>
	<a class="btn btn-lg btn-primary" href="{{ relative_path('/reset-password')}}">Zmiana hasła</a>
	<br><br>
	<button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#exampleModal">
		Usuwanie konta
	</button>

	<br><br>
	{% if app.user.isVerified == false %}
		<a class="btn btn-lg btn-primary" href="{{ path('app_send_mail_to_user', {'user' : app.user.id }) }}">Wyślij ponownie link aktywacyjny</a>
	{% endif %}
{% endblock %}
