<!-- START Bootstrap-Cookie-Alert -->
<div class="alert text-center cookiealert" role="alert">
	Strona do poprawnego działania potrzebuje wykorzystywać &#x1F36A;  pliki cookies &#x1F36A; .
	<a href="https://cookiesandyou.com/" target="_blank"></a>
	<button type="button" class="btn btn-primary btn-sm acceptcookies">
		Akceptuję
	</button>
</div>
<!-- END Bootstrap-Cookie-Alert -->
