<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				
				<p class="copyright text-muted"><a class="copyright text-muted" href="{{ path('contact_admin')}}">Kontakt z Administratorem</a> Copyright &copy; Blog5 Piotr Zakrzewski 2021</p>
			</div>
		</div>
	</div>
</footer>